<!--<p>adminlogin works!</p>-->

<div class="container">
  <form #loginForm='ngForm' (ngSubmit)="loginAction(loginForm.value)">
    <div class="form-group">
      <label for="username">username</label>
      <input ngModel #username='ngModel' required="" type="text" name="username" id="username" class="form-control">

      <div *ngIf="username.dirty && !username.touched"
           class="alert alert-danger">
        <!--        <div *ngIf="username.errors.required">-->
        Name is required.
        <!--        </div>-->
      </div>
    </div>

    <div>
      <label for="password">password</label>
      <input ngModel #password='ngModel' required="" type="password" name="password" id="password">

      <div *ngIf="password.dirty && !password.touched"
           class="alert alert-danger">
        <!--        <div *ngIf="password.errors.required">-->
        Password is required.
        <!--        </div>-->
      </div>
    </div>

    <input type="submit" value="login" class="btn btn-warning">
    <!--    <input [disabled]="!loginForm.valid" type="submit" value="login" class="btn btn-warning">-->
  </form>
</div>
